@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif, "DejaVu Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}



#root {
  /*background-color: rgba(0, 0, 0, 0.04);*/
}

html {
  font-size: 18px;
  /*background-color: rgba(0, 0, 0, 0.04);*/
}

.container {
  background-color: #ffffff;
  max-width: 99%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

.content {
  /* border: 1px solid black; */
  height: 80vh;
  display: flex;
  justify-content: center;
}

.content h1,
.content form {
  padding-top: 2rem;
}

.content h1 {
  text-align: center;
  justify-self: center;
}

/* button styles */
.button {
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: #16b8f3;
  color: white;
  border-radius: 5px;
  transition: 0.3s background-color ease-out;
}

.document-branch{
  border-left: rgba(5, 75, 103, 0.29) 2px solid;
}

.report-editor-body{
  /*border-left: 2px solid rgba(77, 75, 75, 0.09);*/
}

.report-card{
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  cursor: pointer;
}

.report-card:hover{
  background-color: rgba(176, 223, 231, 0.18);
}

.report-block{
}

.report-block-editing{
  border: #3a80ea 2px solid;
  padding: 10px;
  margin: 20px 0 20px 0;
}

.report-block-expandable{
  border-bottom: rgba(77, 75, 75, 0.18) 2px solid;
}

.hovered-above{
  border-top: #12a8df 1px solid;
}
.hovered-below{
  border-bottom: #12a8df 1px solid;
}

.button:hover {
  background-color: #12a8df;
}

button.button {
  border: 0;
  cursor: pointer;
  font-family: Karla;
}

/* form styles */
form {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-input {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  border: 1px solid #999999;
}

.icon{
  -webkit-transition: filter 200ms linear;
  -moz-transition: filter 200ms linear;
  -o-transition: filter 200ms linear;
  transition: filter 200ms linear;
  margin-left: 3px;
  margin-right: 3px;
}

.icon-small{
  width: 1.2em;
  height: 1.2em;
}

.icon-medium{
  width: 1.5em;
  height: 1.5em;
}

.icon:hover{
  filter: brightness(85%);
}

.img-flip{
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

form button {
  width: 100%;
}

.add-report-block-button {
  display: inline-block;
  border: none;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  height: 50px;
  width: 50px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #16b8f3;
  border-radius: 100%;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.add-report-block-button:hover {
  background-color: #07a1e1;
}

.add-report-block-button:active{
  background-color: #027cad;
}

.report-tooltip-container{
}

.report-tooltip{
  opacity: 0;
  transition: opacity 0.5s;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
}

.drag-and-drop:hover{
  cursor: grab;
}

.report-block-tooltip-hitbox{
}

.report-block-tooltip-hitbox:hover .report-tooltip{
  opacity: 1;
}

.report-block-tooltip-hitbox .report-tooltip{
  top: 0;
  right: 0;
}

.ql-container.ql-snow {
  border: none !important;
}

@font-face {
  font-family: "DejaVu Sans";
  src: url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans.ttf") format("truetype");
}

@font-face {
  font-family: "DejaVu Sans";
  font-weight: bold;
  src: url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "DejaVu Sans";
  font-style: italic;
  src: url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf") format("truetype");
}

@font-face {
  font-family: "DejaVu Sans";
  font-weight: bold;
  font-style: italic;
  src: url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf") format("truetype");
}

/* responsive styles */
/* md */
@media screen and (max-width: 768px) {
  form {
    max-width: 80%;
  }
}

/* lg */
@media screen and (min-width: 769px) and (max-width: 1170px) {
  form {
    max-width: 75%;
  }
}

/* xl */
@media screen and (min-width: 1171px) {
  form {
    max-width: 55%;
  }
}

