header{
    border-bottom: rgba(77, 75, 75, 0.55) 1px solid;
    padding: 5px 15px 5px 15px;
}

.home-link{
    border-right: 2px solid rgba(0, 0, 0, 0.3);
}
.cta {
    margin-left: auto;
}

.navigation {
    text-align: center;
}

.header-link {
    margin: 1rem 0 0 1.2rem;
    color: rgb(58, 58, 58);
    text-decoration: none;
}

.navigation .active {
    text-decoration: underline;
}